<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TranspManagDATA.Properties.Settings.DBTransportManagementConnectionString"
            connectionString="Data Source=DESKTOP-3NP2KFD\SQLEXPRESS;Initial Catalog=DBTransportManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>